div.modal div.modal-header {
  background-color: #9575CD;
  color: floralwhite; }
  div.modal div.modal-header span {
    color: floralwhite; }

div.modal div.modal-body {
  background-color: #D1C4E9; }
