div.modal{
    div.modal-header{
        background-color: #9575CD;
        color: floralwhite;

        span{
            color:floralwhite;
        }
    }

    div.modal-body{
        background-color: #D1C4E9;
    }
}
